@using DBExamenVragenAppDB;
@model DBExamenVragenAppDB.Examen
@{
    ViewBag.Title = "StartExamen";
}

<h2>StartExamen </h2>
@foreach (Vraag vraag in Model.questions)
{
    <div>@vraag.VraagTekst</div>
}

<hr />
@Html.ActionLink("Start Nieuw Poging", "StartPoging", new { examenid = Model.ExamenId })

@foreach (Poging poging in ViewBag.pogingen)
{
    <div>@Html.ActionLink("Start ExamenPoging", "ToonVraag", new { vraagindex = 0, pogingid = poging.PogingId }) (p:@poging.PogingId) (e:@poging.Examen.ExamenId)</div>
}


@foreach (Antwoord antwoord in ViewBag.antwoorden)
{
    <div>@antwoord.AntwoordTekst (p:@antwoord.Poging.PogingId) (v:@antwoord.Vraag.VraagID)</div>
}
