
@{
    ViewBag.Title = "ToonVraag";
}

<h2>ToonVraag</h2>
<div>@ViewBag.tdtd.huidigeVraag.VraagTekst</div>

@if (ViewBag.tdtd.vorigeVraag != null)
{
    @Html.ActionLink("Vorige Vraag", "ToonVraag", new { vraagindex = ViewBag.tdtd.huidigeIndex - 1, examenId = ViewBag.tdtd.examen.ExamenId })

}
@if (ViewBag.tdtd.volgendeVraag != null)
{
    @Html.ActionLink("Volgende Vraag", "ToonVraag", new { vraagindex = ViewBag.tdtd.huidigeIndex + 1, examenId = ViewBag.tdtd.examen.ExamenId })

}
@Html.ActionLink("Terug naar overzicht Examen", "StartExamen", new { examennummer = ViewBag.tdtd.examen.ExamenId }))
